


   
   <div class="comment-back">
  
  
  
   <div class="comment-header"> 
   
  <strong class="user-name">  <%=link_to @comment.user.name, show_user_registration_path(@comment.user),:class=>:show %> </strong>
  
  
  </div>
  <div class= "comment-body">
  
  <%= @comment.body %>
  <br>

  </div>
 <div class="comment-footer"> 
  <%= time_ago_in_words(@comment.created_at) %> ago
  <%if current_user == @comment.user or admin_signed_in?%>
  
  <%= link_to "delete", [@post,@comment], :method=>:delete, :class=>:destroy , data: {confirm: "Are you sure?"}  %>
  
 <%end%>
  </div>
  </div>
   

