
<% @counter=true%>
<% post.comments.recent_comments.each do |comment| %>
   <% if @counter%> 
   	<div class="comment-back1">
   	<% @counter=false%>
   <%else%>
   	<div class="comment-back2">
   	<% @counter=true%>
   <%end%>
  
  
  
  <%= comment.body %> 
  <span class="comment-footer"> <br><br>
  <%= time_ago_in_words(comment.created_at) %>  by 
  <strong class="user-name">	<%=link_to comment.user.name, show_user_registration_path(comment.user),:class=>:show %> </strong>
  <%if current_user == comment.user or admin_signed_in?%>
  
  <%= link_to "delete", [post,comment], :method=>:delete, :class=>:destroy , data: {confirm: "Are you sure?"}  %>
  
 <%end%>
 	</span>
  </div>  
 <% end %>




