<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>


    <% @posts.each do |post| %>
      
        <%=link_to image_tag(post.avatar.url(:thumb)), post %>
        
        
    
    <% end %>
 


<br>
<%= render 'posts/newPostButton' %>

