// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray-c: #45433F;
$red-c: rgba(242,95,92,0.95);
$yellow-c: #ffffee;
$blue-c: #247ba0;
$green-c: #70c1b3;
textarea#body {
  position:relative;
  min-width: 100%;
  height: 40px;
  font: normal normal normal 14px/1 "Baumans", Helvetica, sans-serif;
  letter-spacing: 1.6px;
}

.comment-back{
	font: normal normal normal 14px/1 "Baumans", Helvetica, sans-serif;
	color:$gray-c; 
	margin:5px 5px 10px 5px;
	
	
	
}
.comment-footer{
	font: normal normal normal 8px/1 "Baumans", Helvetica, sans-serif;
	
	
	//border-bottom:solid $red-c 1px;
	border-top:solid $red-c 1px;
	width:100%;
	height:10px;
	padding:3px;
	letter-spacing: 1.3px;
	
}
.comment-header{
	font: normal normal normal 10px/1 "Baumans", Helvetica, sans-serif;
	color:$gray-c; 
	
	//border-bottom:solid $red-c 1px;
	//border-right:solid $red-c 1px;
	width:100%;
	height:10px;
	padding:3px;
	letter-spacing: 1.3px;
	
	
}
.comment-body{
	font: normal normal normal 12px/1 "Baumans", Helvetica, sans-serif;
	color:$gray-c; 
	
	width:100%;
	letter-spacing: 1.6px;
	padding:5px 5px 5px 10px;
	font-weight:100;
	border-bottom:solid $gray-c 1px;
	
	
}

.user-name a{
	font: normal normal bold 11px/1 "Baumans", Helvetica, sans-serif;
}

.thumb_comment{
	float:left;
	margin-right:7px;
	border: solid 3px $gray-c;
	width:40px;
	height:40px;
	
}
