
$gray-c: #45433F;
$red-c: rgba(242,95,92,0.95);
$yellow-c: #ffffe2;
$blue-c: #247ba0;
$green-c: #70c1b3;
@mixin imageborder{
  position:relative;
  background-color: white;
  float: left;
  overflow:hidden;  
 
  
}


@mixin responsiveimage{
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:200%;
    max-height:100%;
   
  
  }
}
.image_left {
 // @include responsiveimage;
  //@include imageborder;
  float:left;
  width: 100%;
  position:relative;
  overflow:hidden;
  background-color:#222222;
  height:95%;
 
  
  
   img {
    display: block;
    margin:auto;
    width:auto;
    height:auto;
    max-height:100%;
    max-width: 100%;
    min-height:50%;
   

    -webkit-box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
  -moz-box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
  box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
    overflow:hidden;  
  }
  
}
.thumb{
z-index:10;


margin-left:10px;
  margin-bottom:50px;
  @include imageborder;
  @include responsiveimage;
   
  

}
.subtitle {
  position: absolute; 
    background:rgba(10,10,10,0.8);
   bottom: 0;
   right: 0;
   width: 100%;
   height: auto;
   padding:3px;
   
   .vote_left{
    color: white; 
    float: left;
    font: 1.3em Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    margin: 5px;
    
   }
   .user_right{
    float: right;
    font: 1.3em Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    color: white; 
    margin: 5px;
      a{
        color: blue-c;
        &:visited {
          color: white
        }
        &:hover {
          color: white;
         background-color: none;
       }
      }
   }
}
.subtitle-show {
  position:relative;
    background-color:rgba(256,256,256,0.7);
   bottom:0px;
   height:30px;
   width: 100%;
   padding:5px;
   
   text-align: center;
   a{
        color: blue-c;
        &:visited {
          color: $blue-c;
        }
        &:hover {
          color: $red-c;
         background-color: none;
       }
    }
    i{
    font: 1.0em Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    color: blue-c; 
    
    }

   .user-right-show{
    font: 1.0em Helvetica, Sans-Serif; 
    letter-spacing: 2px;  
    color: blue-c; 
    
   }
}

@media (orientation: portrait){
  .right_pane {
    clear:right;
    padding:1%;
    width:95%;
    display:none;

    
  }
  
.left_pane{
    
    width:100%;
    clear:both;
    left:0;
    top:0;
    max-width:100%;
    position:absolute;
    }
.image_left {
 // @include responsiveimage;
  //@include imageborder;
  margin:0 auto;
  width: 100%;
  position:relative;
  
  //transform: translateY(-50%);
  margin-bottom:10px;
   img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:auto;
    min-height:50%;
    
    background-color: white;
    -webkit-box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
  -moz-box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
  box-shadow: -3px 4px 15px 1px rgba(31,21,31,0.59);
    overflow:hidden;  
  }
  
}
div.filters_right li a{
  font: normal normal normal 17px/1 "Baumans", Helvetica, sans-serif;
  
}
  
}
@media (orientation: landscape) and (min-width:800px){
  .right_pane {
    float:right;
    position:absolute;
    right:0;
    top:0;
    background-color:rgba(249,249,249,0.9);
    height:100%;
    overflow:auto;
    padding: 10px 30px 10px 10px;
    width: 25%;
    //display:none;
    
  }
 .left_pane {
    height:80vh;
    float:left;
    overflow:none;
    margin:5px;
    width: 100%;

  }
  .fixed_left_pane{
    clear:left;
    width:100%;
    height:auto;
    overflow:none;
    margin:0 auto;
  }
  .fixed_right_pane{
    position:fixed;
    z-index:100;
    right:0;
    width:auto;
    height:100vh;
    overflow:auto;
    border-left: solid black 1px;
    padding:20px;
    text-align:center;
    background:rgba(256,256,256,0.9);
    display:none;
  }


}


