$gray-c: #45433F;
$red-c: rgba(242,95,92,0.95);
$yellow-c: #fff7e2;
$blue-c: #247ba0;
$green-c: #70c1b3;
svg{
  height:20px;
  width: 20px;
  display:inline;
  .heart{
  fill:$red-c;
  }
  .heart:hover{
  fill:red;
  }
  .black_heart{
  fill:$gray-c;
  }
  .black_heart:hover{
  fill:black;
  }
}
.whitespace{
  width:10px;
  display:inline-block;
}
body {
  background-color: #EEE;
  color: $gray-c;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin:0;
}
.content{
  padding-top:60px;
  padding-left:3%;
  padding-right:3%;
  position:relative;
  width:auto;
  
}
@media (orientation: portrait){

  .content{
  position:absolute;
  width:99vw;
  height: 100vh;
  margin:0;
  padding:0;
  
  
  
  }
  .top_bar{
  position:fixed;
  height:30px;
  bottom:0;
  width:100%;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
@media (orientation: landscape) {
  .top_bar{
  
 
  
  width:100%;
  position:fixed;
  left:0;
  top:0;}
}
.filters_right{
  padding:10px;
  font: normal normal normal 17px/1 "Baumans", Helvetica, sans-serif;
  li{
    padding-bottom:10px;
    list-style:none;
  }
  ul{
    li{
      padding-left:10px;
      display:inline;

    }
    list-style-type:none;
    padding-bottom:20px;
    margin:0;
  }
  a {
  text-decoration: none;
  font: normal normal normal 17px/1 "Baumans", Helvetica, sans-serif;
  color: $blue-c;
  letter-spacing: 0.06em;
  &:visited {
    color: $blue-c;
  }
  &:hover {
    color: $blue-c;
    background-color: none;
  }
  }
}

.top_bar{
  background-color: $red-c;
  padding:10px;
  
  width:100%;
  position:fixed;
 
  z-index:100;
  // -webkit-box-shadow: -3px 4px 28px 1px rgba(31,21,31,0.59);
  //-moz-box-shadow: -3px 4px 28px 1px rgba(31,21,31,0.59);
  //box-shadow: -3px 4px 28px 1px rgba(31,21,31,0.59);

  a {
  text-decoration: none;
  font: normal normal normal 13px/1 "Baumans", Helvetica, sans-serif;
  color: $yellow-c;
  text-align: center;
  &:visited {
    color: $yellow-c;
  }
  &:hover {
    color: $blue-c;
    background-color: none;
  }
}
}


pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: $green-c;
  &:visited {
    color: $green-c;
  }
  &:hover {
    color: $blue-c;
    
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
