<p>
  posts by
  <%= @user.name  %>
</p>
<div class ="left_pane">
<% @current_posts= @user.posts.recent_posts%>
<%= render 'posts/index', posts:@current_posts%>
<div style="clear: both;"></div><br>
</div>

<div class=" right_pane">
<p>comments by 
 <%= @user.name %></p>
 <% show_post = true%>
<%@current_comments=  @user.comments.recent_comments%>
<%=render 'comments/show' , comments:@current_comments,show_post:show_post%> 
</div>




